streamlit
pandas
requests
beautifulsoup4
numpy
plotly
openai
google-generativeai
umap-learn
scikit-learn
streamlit-agraph
rank_bm25
googlesearch-python>=1.3.0
ddgs
wordcloud
matplotlib

# Force rebuild 2026-01-15
